<!DOCTYPE html>
<html>
    <head>
        <meta charset="uf-8">
        <title> My Title </title>
        {% load static %}
    </head>
    <body>
        <div id="camera-move">
            <div id="camera-zoom">
                <canvas id="canvas" width="250" height="250"></canvas>
            </div>
        </div>
        
        <div class="footer">
            <input type="radio" name="color" id="white" value="0">
            <label for="white" class="white"> </label>

            <input type="radio" name="color" id="red" value="1">
            <label for="red" class="red"> </label>
            
            <input type="radio" name="color" id="orange" value="2">
            <label for="orange" class="orange"> </label>

            <input type="radio" name="color" id="yellow" value="3">
            <label for="yellow" class="yellow"> </label>

            <input type="radio" name="color" id="green" value="4" checked>
            <label for="green" class="green"> </label>
            
            <input type="radio" name="color" id="blue" value="5">
            <label for="blue" class="blue"> </label>
            
            <input type="radio" name="color" id="pink" value="6">
            <label for="pink" class="pink"> </label>
            
            <input type="radio" name="color" id="black" value="7">
            <label for="black" class="black"> </label>

            <input type="radio" name="color" id="col8" value="8">
            <label for="col8" class="col8"> </label>

            <input type="radio" name="color" id="col9" value="9">
            <label for="col9" class="col9"> </label>

            <input type="radio" name="color" id="col10" value="10">
            <label for="col10" class="col10"> </label>

            <input type="radio" name="color" id="col11" value="11">
            <label for="col11" class="col11"> </label>

            <input type="radio" name="color" id="col12" value="12">
            <label for="col12" class="col12"> </label>

            <input type="radio" name="color" id="col13" value="13">
            <label for="col13" class="col13"> </label>

            <input type="radio" name="color" id="col14" value="14">
            <label for="col14" class="col14"> </label>

            <input type="radio" name="color" id="col15" value="15">
            <label for="col15" class="col15"> </label>

            <span id="timer">
                <a id="login" href="#">Login</a> to place tiles
            </span>
        </div>
        <script type="module" src="{% static 'js/utility.js' %}"></script>
        <script type="module" src="{% static 'js/test.js' %}"></script>
        <link href="{% static 'css/test.css' %}" type="text/css" rel="stylesheet">
    </body>
</html>

